/* EDUCACIÓN */
#education {
  margin-top: 2rem;
  max-width: 800px;
  margin-inline: auto;
}

#education h2 {
  color: var(--primary-color);
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  padding-left: 40px; /* igual que experiencia */
}

.education-timeline {
  position: relative;
  padding-left: 40px; /* mismo espacio para bola + línea */
}

/* Línea vertical */
.education-timeline::before {
  content: '';
  position: absolute;
  left: 12px;      /* MISMA POSICIÓN que experiencia */
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #333;
}

/* Cada item */
.education-timeline .timeline-item {
  margin-bottom: 2rem;
  position: relative;
}

/* BOLITA */
.education-timeline .timeline-item::before {
  content: "";
  position: absolute;
  left: -27px;     /* mismo que experiencia */
  transform: translate(-50%, 0);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--background-color);
  border: 2px solid var(--primary-color);
  z-index: 2;
}

/* Textos */
.timeline-item h3 {
  font-size: 1.1rem;
  color: white;
  margin-bottom: 0.2rem;
}

.item-institution {
  font-size: 0.9rem;
  color: #888;
  margin-bottom: 0.2rem;
}

.item-periodo {
  font-size: 0.8rem;
  color: #888;
}
